
<!DOCTYPE html>
<html>
  <head>
    <title>IPQ-GREA</title>


	  <link rel="stylesheet" href="stylesheets/geral.css" />
    <link rel="stylesheet" href="stylesheets/dashboard.css" />
    <link rel="stylesheet" href="stylesheets/bdi.css" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body>
 
    <%- include('parts/background') %>
    
    <%- include('parts/menu') %>

    <div class="principal">
      <h2>INVENTÁRIO DE DEPRESSÃO DE BECK - BDI</h2>

      <%- include('parts/testehead') %>

      <form class="BDI" action="/editarBDI?idTeste=<%= BDI.id %>&idPaciente=<%= Paciente.id %>" method="POST">

        <div style="display: none;">
          <input type="submit" name="prevent-enter-submit" onclick="return false;">
        </div>

          <div>
            <p>Este questionário consiste em 21 grupos de afirmações. Depois de ler cuidadosamente cada grupo, selecione o número (0, 1, 2 ou 3) em cada grupo, que descreve melhor a maneira que você tem se sentido na última semana, incluindo hoje.
              <br><b>Se várias afirmações num grupo parecerem se aplicar igualmente bem, selecione todas.</b>
              <br>Tome cuidado de ler todas as afirmações, em cada grupo, antes de fazer sua escolha.</p>
            </div>
  
          <div class="avgrid">
  
            <div class="questao">
              1.
            </div>
  
            <div class="resposta">
              <label>
                <input type="checkbox" value="S" name="Q1a" <% if (BDI.Q1a == 'S') {%> checked <%} %> >
                  0. Não me sinto triste
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q1b" <% if (BDI.Q1b == 'S') {%> checked <%} %> >
                  1. Eu me sinto triste
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q1c" <% if (BDI.Q1c == 'S') {%> checked <%} %> >
                  2. Estou sempre triste e não consigo sair disto
                </label>
              <br>

              <label>
                <input type="checkbox" value="S" name="Q1d" <% if (BDI.Q1d == 'S') {%> checked <%} %> >
                  3. Estou tão triste ou infeliz que não consigo suportar
                </label>
            </div>
  
            <div class="questao">
              2.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q2a" <% if (BDI.Q2a == 'S') {%> checked <%} %> >
                  0. Não estou especialmente desanimado quanto ao futuro
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q2b" <% if (BDI.Q2b == 'S') {%> checked <%} %> >
                  1. Eu me sinto desanimado quanto ao futuro
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q2c" <% if (BDI.Q2c == 'S') {%> checked <%} %> >
                  2. Acho que nada tenho a esperar
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q2d" <% if (BDI.Q2d == 'S') {%> checked <%} %> >
                  3. Acho o futuro sem esperanças e tenho a impressão de que as coisas não podem melhorar
                </label>
            </div>
  
            <div class="questao">
              3.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q3a" <% if (BDI.Q3a == 'S') {%> checked <%} %> >
                  0. Não me sinto um fracasso
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q3b" <% if (BDI.Q3b == 'S') {%> checked <%} %> >
                  1. Acho que fracassei mais do que uma pessoa comum
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q3c" <% if (BDI.Q3c == 'S') {%> checked <%} %> >
                  2. Quando olho para trás,na minha vida, tudo o que posso ver é um monte de fracassos
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q3d" <% if (BDI.Q3d == 'S') {%> checked <%} %> >
                  3. Acho que, como pessoa, sou um completo fracasso
                </label>
            </div>
  
            <div class="questao">
              4.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q4a" <% if (BDI.Q4a == 'S') {%> checked <%} %> >
                  0. Tenho tanto prazer em tudo como antes
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q4b" <% if (BDI.Q4b == 'S') {%> checked <%} %> >
                  1. Não sinto mais prazer nas coisas como antes
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q4c" <% if (BDI.Q4c == 'S') {%> checked <%} %> >
                  2. Não encontro um prazer real em mais nada
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q4d" <% if (BDI.Q4d == 'S') {%> checked <%} %> >
                  3. Estou insatisfeito ou aborrecido com tudo
                </label>
            </div>
  
            <div class="questao">
              5.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q5a" <% if (BDI.Q5a == 'S') {%> checked <%} %> >
                  0. Não me sinto especialmente culpado
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q5b" <% if (BDI.Q5b == 'S') {%> checked <%} %> >
                  1. Eu me sinto culpado grande parte do tempo
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q5c" <% if (BDI.Q5c == 'S') {%> checked <%} %> >
                  2. Eu me sinto culpadona maior parte do tempo
                </label>
              <br>

              <label>
                <input type="checkbox" value="S" name="Q5d"  <% if (BDI.Q5d == 'S') {%> checked <%} %> >
                  3. Eu me sinto sempre culpado
                </label>
            </div>
  
            <div class="questao">
              6.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q6a" <% if (BDI.Q6a == 'S') {%> checked <%} %> >
                  0. Não acho que esteja sendo punido
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q6b" <% if (BDI.Q6b == 'S') {%> checked <%} %> >
                  1. Acho que posso ser punido
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q6c" <% if (BDI.Q6c == 'S') {%> checked <%} %> >
                  2. Creio que vou ser punido
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q6d" <% if (BDI.Q6d == 'S') {%> checked <%} %> >
                  3. Acho que estou sendo punido
                </label>
            </div>
  
            <div class="questao">
              7.
            </div>
  
            <div class="resposta">
              <label>
                <input type="checkbox" value="S" name="Q7a" <% if (BDI.Q7a == 'S') {%> checked <%} %> >
                  0. Não me sinto decepcionado comigo mesmo
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q7b" <% if (BDI.Q7b == 'S') {%> checked <%} %> >
                  1. Estou decepcionado comigo mesmo
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q7c" <% if (BDI.Q7c == 'S') {%> checked <%} %> >
                  2. Estou enojado de mim
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q7d" <% if (BDI.Q7d == 'S') {%> checked <%} %> >
                  3. Eu me odeio
                </label>
            </div>
  
            <div class="questao">
              8.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q8a" <% if (BDI.Q8a == 'S') {%> checked <%} %> >
                  0. Não me sinto de qualquer modo pior que os outros
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q8b" <% if (BDI.Q8b == 'S') {%> checked <%} %> >
                  1. Sou crítico em relação a mim por minhas fraquezas ou erros
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q8c" <% if (BDI.Q8c == 'S') {%> checked <%} %> >
                  2. Eu me culpo sempre por minhas falhas
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q8d" <% if (BDI.Q8d == 'S') {%> checked <%} %> >
                  3. Eu me culpo por tudo de mal que acontece
                </label>
            </div>
  
            <div class="questao">
              9.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q9a" <% if (BDI.Q9a == 'S') {%> checked <%} %> >
                  0. Não tenho quaisquer idéias de me matar
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q9b" <% if (BDI.Q9b == 'S') {%> checked <%} %> >
                  1. Tenho idéias de me matar, mas não as executaria
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q9c" <% if (BDI.Q9c == 'S') {%> checked <%} %> >
                  2. Gostaria de me matar
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q9d" <% if (BDI.Q9d == 'S') {%> checked <%} %> >
                  3. Eu me mataria se tivesse oportunidade
                </label>
            </div>
  
            <div class="questao">
              10.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q10a" <% if (BDI.Q10a == 'S') {%> checked <%} %> >
                  0. Não choro mais que o habitual
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q10b" <% if (BDI.Q10b == 'S') {%> checked <%} %> >
                  1. Choro mais agora do que costumava
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q10c" <% if (BDI.Q10c == 'S') {%> checked <%} %> >
                  2. Agora, choro o tempo todo
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q10d" <% if (BDI.Q10d == 'S') {%> checked <%} %> >
                  3. Costumava ser capaz de chorar, mas agora não consigo, mesmo que o queira
                </label>
            </div>
  
            <div class="questao">
              11.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q11a" <% if (BDI.Q11a == 'S') {%> checked <%} %> >
                  0. Não sou mais irritado agora do que já fui
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q11b" <% if (BDI.Q11b == 'S') {%> checked <%} %> >
                  1. Fico aborrecido ou irritado mais facilmente do que costumava
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q11c" <% if (BDI.Q11c == 'S') {%> checked <%} %> >
                  2. Agora, eu me sinto irritado o tempo todo
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q11d" <% if (BDI.Q11d == 'S') {%> checked <%} %> >
                  3. Não me irrito mais com coisas que costumavam me irritar
                </label>
            </div>
  
            <div class="questao">
              12.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q12a" <% if (BDI.Q12a == 'S') {%> checked <%} %> >
                  0. Não perdi o interesse pelas outras pessoas
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q12b" <% if (BDI.Q12b == 'S') {%> checked <%} %> >
                  1. Estou menos interessado pelas outras pessoas do que costumava estar
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q12c" <% if (BDI.Q12c == 'S') {%> checked <%} %> >
                  2. Perdi a maior parte do meu interesse pelas outras pessoas
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q12d" <% if (BDI.Q12d == 'S') {%> checked <%} %> >
                  3. Perdi todo o interesse pelas outras pessoas
                </label>
            </div>
  
            <div class="questao">
              13.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q13a" <% if (BDI.Q13a == 'S') {%> checked <%} %> >
                  0. Tomo decisões tão bem quanto antes
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q13b" <% if (BDI.Q13b == 'S') {%> checked <%} %> >
                  1. Adio as tomadas de deciões mais do que costumava
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q13c" <% if (BDI.Q13c == 'S') {%> checked <%} %> >
                  2. Tenho mais dificuldades de tomar decisões do que antes
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q13d" <% if (BDI.Q13d == 'S') {%> checked <%} %> >
                  3. Absolutamente não consigo mais tomar decisões
                </label>
            </div>
  
            <div class="questao">
              14.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q14a" <% if (BDI.Q14a == 'S') {%> checked <%} %> >
                  0. Não acho que de qualquer modo pareço pior do que antes
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q14b" <% if (BDI.Q14b == 'S') {%> checked <%} %> >
                  1. Estou preocupado em estar parecendo velho ou sem qualquer atrativo
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q14c" <% if (BDI.Q14c == 'S') {%> checked <%} %> >
                  2. Acho que há mudanças permanentes na minha aparência, que me fazem parecer sem atrativo
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q14d" <% if (BDI.Q14d == 'S') {%> checked <%} %> >
                  3. Acredito que pareço feio
                </label>
            </div>
  
            <div class="questao">
              15.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q15a" <% if (BDI.Q15a == 'S') {%> checked <%} %> >
                  0. Posso trabalhar tão bem quanto antes
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q15b" <% if (BDI.Q15b == 'S') {%> checked <%} %> >
                  1. É preciso algum esforço extra para fazer alguma coisa
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q15c" <% if (BDI.Q15c == 'S') {%> checked <%} %> >
                  2. Tenho que me esforçar muito para fazer alguma coisa
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q15d" <% if (BDI.Q15d == 'S') {%> checked <%} %> >
                  3. Não consigo mais fazer qualquer trabalho
                </label>
            </div>
  
            <div class="questao">
              16.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q16a" <% if (BDI.Q16a == 'S') {%> checked <%} %> >
                  0. Costumo dormir tão bem como o habitual
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q16b" <% if (BDI.Q16b == 'S') {%> checked <%} %> >
                  1. Nã durmo tão bem como costumava
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q16c" <% if (BDI.Q16c == 'S') {%> checked <%} %> >
                  2. Acordo 1 a 2 horas mais cedo do que habitualmente e acho difícil voltar a dormir
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q16d" <% if (BDI.Q16d == 'S') {%> checked <%} %> >
                  3. Acordo várias horas mais cedo do que costumava e não consigo voltar a dormir
                </label>
            </div>
  
            <div class="questao">
              17.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q17a" <% if (BDI.Q17a == 'S') {%> checked <%} %> >
                  0. Não fico mais cansado do que o habitual
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q17b" <% if (BDI.Q17b == 'S') {%> checked <%} %> >
                  1. Fico cansado mais facilmente do que costumava
                </label>
              <br>

              <label>
                <input type="checkbox" value="S" name="Q17c" <% if (BDI.Q17c == 'S') {%> checked <%} %> >
                  2. Fico cansado em fazer qualquer coisa
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q17d" <% if (BDI.Q17d == 'S') {%> checked <%} %> >
                  3. Estou cansado demais para fazer qualquer coisa
                </label>
            </div>
  
            <div class="questao">
              18.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q18a" <% if (BDI.Q18a == 'S') {%> checked <%} %> >
                  0. O meu apetite não está pior do que o habitual
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q18b" <% if (BDI.Q18b == 'S') {%> checked <%} %> >
                  1. Meu apetite não é tão bom como costumava ser
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q18c" <% if (BDI.Q18c == 'S') {%> checked <%} %> >
                  2. Meu apetite é muito pior agora
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q18d" <% if (BDI.Q18d == 'S') {%> checked <%} %> >
                  3. Absolutamente não tenho mais apetite
                </label>
            </div>
  
            <div class="questao">
              19.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q19a" <% if (BDI.Q19a == 'S') {%> checked <%} %> >
                  0. Não tenho perdido muito peso se é que perdi algum recentemente
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q19b" <% if (BDI.Q19b == 'S') {%> checked <%} %> >
                  1. Perdi mais do que 2 quilos e meio
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q19c" <% if (BDI.Q19c == 'S') {%> checked <%} %> >
                  2. Perdi mais do que 5 quilos
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q19d" <% if (BDI.Q19d == 'S') {%> checked <%} %> >
                  3. Perdi mais do que 7 quilos
                </label>
              <br>
  
                <label>
                  Estou tentando perder peso de propósito, comendo menos:
                </label>
                <label><input type="radio" value="S" name="Q19" <% if (BDI.Q19 == 'S') {%> checked <%} %> >Sim</label>
                <label><input type="radio" value="N" name="Q19" <% if (BDI.Q19 == 'N') {%> checked <%} %> >Não</label>
            </div>
  
            <div class="questao">
              20.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q20a" <% if (BDI.Q20a == 'S') {%> checked <%} %> >
                  0. Não estou mais preocupado com minha saúde do que o habitual
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q20b" <% if (BDI.Q20b == 'S') {%> checked <%} %> >
                  1. Estou preocupado com problemas físicos, tais como dores, indisposição do estômago ou constipação
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q20c" <% if (BDI.Q20c == 'S') {%> checked <%} %> >
                  2. Estou muito preocupado com problemas fisicos e é difícil pensar em outra coisa
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q20d" <% if (BDI.Q20d == 'S') {%> checked <%} %> >
                  3. Estou tão preocupado com problemas fisicos que não consigo pensar em qualquer outra coisa
                </label>
            </div>
  
            <div class="questao">
              21.
            </div>
  
            <div class="resposta">
  
              <label>
                <input type="checkbox" value="S" name="Q21a" <% if (BDI.Q21a == 'S') {%> checked <%} %> >
                  0. Não notei qualquer mudança recente em meu interesse por sexo
                </label>
              <br>

              <label>
                <input type="checkbox" value="S" name="Q21b" <% if (BDI.Q21b == 'S') {%> checked <%} %> >
                  1. Estou menos interessado por sexo do que costumava
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q21c" <% if (BDI.Q21c == 'S') {%> checked <%} %> >
                  2. Estou muito menos interessado por sexo agora
                </label>
              <br>
  
              <label>
                <input type="checkbox" value="S" name="Q21d" <% if (BDI.Q21d == 'S') {%> checked <%} %> >
                  3. Perdi completamente o interesse por sexo
                </label>
            </div>
  
          </div>
          <br>

          <div class="caixa">Última alteração: <%= BDI.updatedAt.toLocaleString('pt-BR') %> - por: <%= BDI.NomeProfissionalAvaliacao %></div><br>

        <button class="btn">SALVAR ALTERAÇÕES</button>
      </form>
    </div>
  </div>


  </body>

</html>
