
<!DOCTYPE html>
<html>
  <head>
    <title>IPQ-GREA</title>


	  <link rel="stylesheet" href="stylesheets/geral.css" />
    <link rel="stylesheet" href="stylesheets/dashboard.css" />
    <link rel="stylesheet" href="stylesheets/ciwaar.css" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body>
 
    <%- include('parts/background') %>
    
    <%- include('parts/menu') %>

    <div class="principal">
      <h2>Escala Visual Analógica Motivação</h2>

      <%- include('parts/testehead') %>

      <form class="EVA" action="/GravarNovoCIWAAR?id=<%= Paciente.id %>" method="POST">

        <div class="assinado">
          Preenchido por:<br>
          <%= NomeProfissionalAvaliacao %><br>
          <%= Profissao %><br>
          <%= NumeroConselho %><br>
        </div>
        
        <button class="btn">SALVAR</button>
      </form>
    </div>
  </div>


  </body>

</html>
